.header {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.header img {
    width: 150px;

}

.header ul {
    display: flex;
    text-decoration: none;
}

.header li {
    margin: 10px;
    color: white;
    list-style: none;

}

.corps {
    background-color: orangered;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.title {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    transition-duration: 4s;
}

.phrasetexte {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;

}

.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imageamesoeur {
    height: 10px;
    position: fixed;
    left: 70px;
    margin: 50px;
}

.blocdeuxgeneral {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 60px;
    top: 3em
}


.titreettexteamesoeuretbouton {
    display: flex;
    flex-direction: column;
}