
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .form-container {
    width: 100%;
    max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .photo-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-field label {
    margin-bottom: 10px;
  }

  .photo-field input[type="file"] {
    margin-bottom: 20px;
  }

  @media (min-width: 600px) {
    .input-field {
      width: auto;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  
  