
.header {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.header img {
    width: 150px;

}

.header ul {
    display: flex;
    text-decoration: none;
}

.header li {
    margin: 10px;
    color: white;
    list-style: none;

}

.corps {
    background-color: orangered;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.title {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    transition-duration: 4s;
}

.phrasetexte {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;

}

.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imageamesoeur {
    height: 10px;
    position: fixed;
    left: 70px;
    margin: 50px;
}

.blocdeuxgeneral {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 60px;
    top: 3em
}


.titreettexteamesoeuretbouton {
    display: flex;
    flex-direction: column;
}

.containerbig {
    font-size: 20px;
    font-family: Georgia;
    background-color:pink ;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textG {
    display:flex;
    flex-direction: column;
    text-align: end;
    
}

.imgtel{
   margin: 40px;
   }

   .texteD1{
    margin-right: 30px;
   }

   .texteD2{
    margin-right: 30px;
   }

footer {
    font-size: 20px;
    padding: 8px;
    background-color: rgb(0,0,0);
    margin: 0;
    height: 200px;
    width: 100%;
}

footer p {
    font-family: Georgia ;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .logo {
    filter: invert(1);
    display: flex;
    gap: 50px;
    justify-content:flex-end; 
    margin-right: 30px;
}
.logo img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.logo :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
